<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo right">Logo</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a routerLink="/contato" routerLinkActive="active">Contato</a></li>
      <li><a routerLink="/cursos" routerLinkActive="active">Cursos</a></li>
      <li><a [routerLink]="['curso', cursoId.value]" routerLinkActive="active">Curso com Id</a></li>
    </ul>
  </div>
</nav>

<div class="wrapper">
  <input type="text" #cursoId />

  <br><br>
  
  <router-outlet></router-outlet>
</div>